.shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06)
}

.shadow-xl {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1)
}

.shadow-inner {
  box-shadow: 0 4px 12px 1px rgba(0, 0, 0, 0.05) inset
}

.bg-feature-gradient {
  background: linear-gradient(to bottom right, rgba(23, 113, 246, 255) 0%, rgba(23, 113, 246, 255) 1.143%, rgba(149, 243, 250, 255) 100%) !important
}

.border-right {
  border-right: 1px solid #ccc;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.top-0 {
  top: 0;
}

.w-fit-content {
  width: fit-content !important;
}